.new-incidents{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}
.new-incidents .content{
    width: 100%;
    padding: 96px;
    background: #f0f0f0f5;
    box-shadow: 0 0 100px rgb(0,0,0,.1);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-incidents .content section{
    width: 100%;
    max-width: 380px;
}
.new-incidents .content section h1{
    margin: 64px 0 32px;
    font-size: 32px;
}
.new-incidents .content section p{
    font-size: 18px;
    color:#737388;
    line-height: 32px;
}
.new-incidents .content form{
    width: 100%;
    max-width: 450px;
}
.new-incidents .content form input,
.new-incidents .content form textarea{
    margin-top: 8px;
}

